
$MAINCOLOR:#550dc9;
$HCOLOR:#793ed4;

%displayFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
%overflow{
    overflow: hidden;
    overflow-y: auto;
}
@mixin width_heigth($w,$h){
    width: $w;
    height: $h;
}
@mixin position-img($t,$l){
    position: relative;
    top: $t;
    left: $l;
}
@font-face {
    font-family: Lato; 
    src: url(C:/Users/user/TodoApp/assets/Lato-Regular.ttf); 
   }

body{
    margin: 0;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}
button{
    border: none;
    background: white;
    cursor: pointer;
    border: 2px solid white ;
    box-sizing: border-box;
    margin: 0 5px;
        &:hover{
            border: 2px solid $MAINCOLOR ;  
        }
}
header{
    @extend %displayFlex;
    @include width_heigth(auto,20px);
    align-items: center;
    padding: 30px 0px;
    box-shadow:  0 7px 2px rgb(0 0 0 / 3%);
        img{
            width: 36px; 
        }
}
.icon {
    @include width_heigth(65px,auto);
    text-align: center;
    margin-right: 20px;
        p{
            font-size: 14px;
            margin: 0px;
}
}
.textTasks{
    font-size: 25px;
    @include width_heigth(100%,auto);
    font-weight: 900;
    text-align: left;
}
.userLogo {
    @extend %displayFlex;
    @include width_heigth(300px,60px);
    align-items: center;
        img:first-child{
            @include width_heigth(60px,auto);
        }
        img:nth-child(2){
            @include width_heigth(34px,auto);
        }
}
main {
    @extend %displayFlex;
    @include width_heigth(auto,100%);
    .allTaskField {
        @extend %displayFlex;
        flex-grow: 1;
    }
}

.tasksField{
    flex-grow: 1;
    margin: 24px;
    position: relative;
}
.completedTask {
    @extend %overflow;
    @include width_heigth(360px,auto);
    margin: 24px;
}
.button-plus{
    @include width_heigth(50px,60px);
    background-color: $MAINCOLOR;
    color: white;
    border-radius: 11px;
    font-size: 15px;
}
.js-form{
    display: flex;
    justify-content: flex-start;
         input {
            flex-grow: 1;
            @include width_heigth(auto,60px);
            border: 1px solid gainsboro;
            box-sizing: border-box;
            font-size: 16px;
            padding: 10px;
}
}
.menu {
    background-color:$MAINCOLOR;
    @include width_heigth(70px,100vh);
        div{
            background-color: #440ba0;
            @include width_heigth(100%,60px);
            margin: 23px 0;
    }
        img:first-child{
            width: 43px;
            @include position-img(9px,10px);
    }
        img:nth-child(2){
            width: 23px;
            @include position-img(-13px,-40px);
    }
}
.todotasks{
    margin: 20px 0px;
    @extend %overflow;
    @include width_heigth(100%,431px);
}
.tasks {
    @extend %displayFlex;
    border: 1px solid gainsboro;
    padding: 10px;
    margin: 10px 0px;
    position: relative;
    white-space: pre-wrap;
    word-break: break-all;
}
.deleteButton {
    width: 25px;
    margin: 0px -10px;
}
.editButton{
    width: 22px;
}
.completed{
    @extend %overflow;
    height: 431px;
}
.task_button {
    display: flex;
}
h4 {
    color: $HCOLOR;
    background-color: #fef6ff;
    width: 70px;
    font-weight: lighter;
    padding: 5px;
}
@import "mobile.scss";